<form action="/" method="post">
  <input class="add_todo__text" type="text" required value="" name="todo" placeholder="What's on your mind...">
  <input class="add_todo__btn" type="submit" value="Add todo">
</form>