<main class="container">
  <section class="add-todo">

    <img src="images/simple_to_image.png" alt="Todo Image">
    <header>
      <h1 class="add-todo__title">Simple Todo</h1>
      <%= erb :'todos/form'%>
      <p class="info">By Cryptograpi</p>
    </header>
  </section>
</main>
